@import "./Variables.scss";

.btn{
    background-color: $bg-btn-gray;
    
    &.active{
        background-color: $bg-secondary;
    }

    &.small{
        width: 48px;
        height: 48px;
        border-radius: 8px;
        transition: 0.2s ease;

        .btn-icon{
            width: 35%;
        }

        span{
            color: white;
        }
    }

    &.full{
        transition: 0.24s ease;
        height: 100%;
        background-color: transparent;

        &:hover{
            background-color: $bg-secondary;
        }
    }

    &.default{
        border-radius: 4px;
        padding: 11.5px 20.5px;
        transition: 0.2s ease;

        img{ height: 14px; }

        &:hover{
            background-color: $bg-secondary;
        }
    }
}

.full-btn-container{
    height: 60px;
}