@import "./Variables.scss";

body{
    background-color: $bg-main;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: "Metropolis";
}

a, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input{
    outline: none;
}

ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.content{
    transform: translateY(100px);
}

.mdi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.metascore{
    min-width: 60px;
    height: 60px;
    border-radius: 15px;
}