$tx-light: #E6E6E6;
$tx-light2: #bdbdbd;
$tx-shade: #726F6F;
$tx-input-placeholder: #8D8D8D;
$tx-input-hide-placeholder: #6c6c75;
$bg-main: #13131A;
$bg-secondary: #491B9E;
$bg-item-gray: #171721;
$bg-btn-gray: #40404B;
$bg-search-ph: #363642;
$bg-hide-search-ph: #272730;
$bg-header: #1c1c27;