.bg-main {
  background-color: #13131A; }

.bg-secondary {
  background-color: #491B9E; }

.bg-item-gray {
  background-color: #171721; }

.bg-btn-gray {
  background-color: #40404B; }

.bg-search-ph {
  background-color: #363642; }

.bg-hide-search-ph {
  background-color: #272730; }
