@import "../Variables.scss";

.bg-main{background-color: $bg-main;}

.bg-secondary{background-color: $bg-secondary;}

.bg-item-gray{background-color: $bg-item-gray;}

.bg-btn-gray{background-color: $bg-btn-gray;}

.bg-search-ph{background-color: $bg-search-ph;}

.bg-hide-search-ph{background-color: $bg-hide-search-ph;}