.game-display {
  padding: 60px 130px 0 130px;
  transition: 0.55s ease;
  top: 450px;
  bottom: 0;
  background: #13131a;
  background: -moz-linear-gradient(0deg, #13131a 0%, #13131a 82%, rgba(19, 19, 26, 0.8) 100%);
  background: -webkit-linear-gradient(0deg, #13131a 0%, #13131a 82%, rgba(19, 19, 26, 0.8) 100%);
  background: linear-gradient(0deg, #13131a 0%, #13131a 82%, rgba(19, 19, 26, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#13131a",endColorstr="#13131a",GradientType=1);
  height: 100%;
  z-index: 102; }
  .game-display.hovering {
    transition-delay: 0.65s;
    height: 0%;
    overflow: hidden;
    padding: 0px; }
  .game-display.inactive {
    opacity: 0;
    transform: translateY(500px) !important; }
  .game-display .game-container {
    max-width: calc(1366px - 130px - 130px); }
  .game-display .game-half-page {
    width: 47.5%; }
  .game-display .game-border {
    border-color: #40404B;
    margin: 26px 0; }
  .game-display .image-viewer .big-picture-container {
    height: 295px;
    max-height: 295px;
    overflow: hidden;
    display: flex;
    align-items: center; }
    .game-display .image-viewer .big-picture-container .big-picture {
      opacity: 0;
      animation: fade-game-background 0.3s forwards;
      background-color: #13131a; }
  .game-display .image-viewer .viewer-list {
    width: 100%;
    overflow-x: scroll; }
    .game-display .image-viewer .viewer-list .preview-container {
      margin-right: 8px; }
      .game-display .image-viewer .viewer-list .preview-container .overlay-shadow {
        background-color: rgba(37, 37, 46, 0.89);
        animation: fade-game-background 0.24s forwards; }
      .game-display .image-viewer .viewer-list .preview-container img {
        width: 130px;
        max-height: 73px;
        border: 2px solid #363642; }
      .game-display .image-viewer .viewer-list .preview-container:last-child {
        margin-right: 0px; }
  .game-display .add-to-list, .game-display .achivement-view {
    background-color: #171721; }
  .game-display .add-to-list {
    max-width: 420px; }
    .game-display .add-to-list .container {
      padding: 32px 50px 0 50px; }
  .game-display .achivement-view {
    max-width: 100%; }
    .game-display .achivement-view .container {
      padding: 32px 50px; }
    .game-display .achivement-view .acv-img-container {
      width: 54px;
      height: 54px;
      border: 2px solid #363642; }
  .game-display .game-requirements .btn.small {
    margin-right: 12px; }
  .game-display .game-requirements .sys-requirements {
    color: #E6E6E6;
    font-size: 15px; }
    .game-display .game-requirements .sys-requirements strong {
      color: #726F6F;
      font-weight: 300; }

.similar-container::-webkit-scrollbar, .viewer-list::-webkit-scrollbar {
  height: 12px;
  border-radius: 10px; }

.similar-container::-webkit-scrollbar-track, .viewer-list::-webkit-scrollbar-track {
  background: #484855; }

.similar-container::-webkit-scrollbar-thumb, .viewer-list::-webkit-scrollbar-thumb {
  background: #0b0b0f; }

.main-game-bg {
  top: 0;
  right: 0; }
  .main-game-bg .GameMedia {
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease; }
    .main-game-bg .GameMedia.hovering {
      opacity: 1;
      pointer-events: initial;
      transition-delay: 1.4s; }
    .main-game-bg .GameMedia svg {
      width: 200px;
      height: 200px;
      cursor: pointer; }
      .main-game-bg .GameMedia svg #elipse {
        transition: 0.3s ease;
        fill: transparent; }
      .main-game-bg .GameMedia svg:hover #elipse {
        fill: #565656a8; }
  .main-game-bg > img {
    opacity: 0;
    transition: 0.2s ease;
    animation: fade-game-background 1.1s forwards;
    object-fit: cover;
    max-height: calc(100vh + 40px);
    transition-delay: 0s; }
    .main-game-bg > img.hovering {
      transition: 0.5s ease;
      transition-delay: 0.45s; }
  .main-game-bg .overlay-shadow {
    width: 100%;
    height: 100%;
    background-color: #13131b99;
    transition: 0.5s ease;
    transition-delay: 0.65s;
    max-height: 100vh; }
    .main-game-bg .overlay-shadow:hover, .main-game-bg .overlay-shadow.hovering {
      background-color: transparent; }

.hover-container {
  height: 75px;
  z-index: 101;
  bottom: 0px;
  left: 0px; }
  .hover-container.loading {
    height: 100vh;
    z-index: 1000;
    opacity: 0; }
  .hover-container.hovering .hover-indicator {
    transition: 0.5s ease;
    transition-delay: 1.3s;
    transform: translateY(0px); }
  .hover-container.hovering .hover-bar {
    width: 150px; }

.hover-indicator {
  height: 75px;
  background: #13131a;
  background: -moz-linear-gradient(0deg, rgba(19, 19, 26, 0.93041) 24%, rgba(19, 19, 26, 0.448617) 77%, rgba(0, 212, 255, 0) 100%, rgba(19, 19, 26, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(19, 19, 26, 0.93041) 24%, rgba(19, 19, 26, 0.448617) 77%, rgba(0, 212, 255, 0) 100%, rgba(19, 19, 26, 0) 100%);
  background: linear-gradient(0deg, rgba(19, 19, 26, 0.93041) 24%, rgba(19, 19, 26, 0.448617) 77%, rgba(0, 212, 255, 0) 100%, rgba(19, 19, 26, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#13131a",endColorstr="#13131a",GradientType=1);
  transition: 0.13s ease;
  transition-delay: 0s;
  transform: translateY(75px); }

.hover-bar {
  width: 5px;
  height: 5px;
  background-color: #dddddd;
  border-radius: 50px;
  transition: 0.5s ease;
  transition-delay: 1.9s; }
