body {
  background-color: #13131A;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Metropolis"; }
  body::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px; }
  body::-webkit-scrollbar-track {
    background: #26262e; }
  body::-webkit-scrollbar-thumb {
    background: #0b0b0f; }

a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none; }

br {
  line-height: 5px; }

a.underline:hover {
  text-decoration: underline; }

input {
  outline: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.content.list {
  transform: translateY(100px); }

.mdi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.metascore {
  min-width: 60px;
  height: 60px;
  border-radius: 15px; }

select {
  color: #E6E6E6;
  height: 38px;
  outline: none;
  border: none;
  padding: 0 13px;
  background-color: #20202B; }
